

/*Fonts*/

@font-face {
    font-family: 'Alcubierre';
    src: url("../fonts/Alcubierre.otf") format("opentype");
}

@font-face {
    font-family: 'Corbert-Regular';
    src: url("../fonts/Corbert-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'FjordOne-Regular';
    src: url("../fonts/FjordOne-Regular.otf") format("opentype");
}

.bg,
.overlay {
  text-align: center;
}

img,
.overlay {
  transition: .3s all;
}

.bg {
  float: left;
  max-width: 31%;
  position: relative;
  margin: .5%;
}
.bg img {
  max-width: 100%;
  margin-bottom: -4px;
  border-radius: 3px;
}
.bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #1abf6a;
  opacity: 0;
}
.bg .overlay h2 {
  margin-top: 5%;
  font-family: 'Droid Serif', serif;
}
.bg .overlay h2 span {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}
.bg .overlay p {
  font-family: 'Julius Sans One', sans-serif;
}
.bg:hover .overlay {
  opacity: 1;
}
.bg:hover img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

@media screen and (max-width: 1148px) {
  .bg {
    max-width: 48%;
  }
}
@media screen and (max-width: 768px) {
  .bg {
    float: none;
    max-width: 60%;
    margin: .5% auto;
  }
}

.tableFont{
    font-size: 0.8em;
    color: white;

}

/*jackson restaurant*/
body {
  position: relative;
}

/*ul.nav-pills {
  top: 20px;
  position: fixed;
}*/

div.col-sm-7 {
  height: 280px;
  font-size: 28px;
}

#section1 {
  color: #fff;
  /*background-color: #1E88E5;*/
}

#section2 {
  color: #fff;
  /*background-color: #673ab7;*/
  /*position: relative;*/
}

#section3 {
  color: #fff;
  /*background-color: #ff9800;*/
  /*position: relative;*/
}

#section4 {
  color: #fff;
  /*background-color: #00bcd4;*/
  /*position: relative;*/
}

#section5 {
  color: #fff;
  /*background-color: #009688;*/
  /*position: relative;*/
}

#section6 {
    color: #fff;
}

@media screen and (max-width: 810px) {
  #section1, #section2, #section3, #section4, #section5, #section6 {
    margin-left: 150px;
  }
}

.affix {
      top: 20px;
  }

.food {
  /*float: left;*/
  /*max-width: 31%;*/
  width: 280px;
  height: 280px;
  position: relative;
  margin: .5%;
  display: inline-block;
  margin-top: 0;
}

.food_title {
  position: absolute;
  left: 10px;
  top: 80px;
  /*background: rgba(0, 0, 0, 0.2);*/
  /*opacity: 0;*/
  color: white;
  font-size: 30px;
  font-weight: 400;
  font-weight: bold;
  font-family: 'Alcubierre';
}

.addFoodButton {
  position: relative;
  /*left: 210px;*/
  top: 220px;
  /*background: green;
  color: black;
  font-size: 15px;*/
}

/* Flipping the image */
.flip-container {
  position: relative;
  margin: auto;
  width: 280px;
  height: 280px;
  z-index: 1;
}
.flip-container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

/*#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}*/

.rotateFlip #f1_card{
  transform: rotateY(180deg);
  /*box-shadow: -5px 5px 5px #aaa;*/
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/*.face.front {
  width: 280px;
  height: 280px;
}*/
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  /*color: white;*/
  text-align: center;
  background-color: white;
  width: 280px;
  height: 280px;
}
.face .overlay {
  position: absolute;
  top: 0px;
  left: 0;
  height: 280px;
  /*bottom: 0;*/
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  opacity: 0;
}
.face:hover .overlay {
  opacity: 1;
}
.face:hover img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.backtext {
  font-family:'FjordOne-Regular';
  background-color:yellow;
  color: black;
  font-size: 15px;
  font-weight: bold;
  height:100px;
  margin-top: -20px;
}

.backTable {
    font-family:'FjordOne-Regular';
    font-size:12px;
    color:black;
    font-weight: bold;
}

.ratingText {
    position:absolute;
     left:210px;
     top:10px;
}
/*Ends -- Flipping the image*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.hide_element {
  display: none;
}

/*
.food-cart-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    display: block;
}

.food-cart-icon.icon-home {
    background: url(img/app/cart-icon.jpg);
    background-size: cover;
}

.food-cart-icon.normal {
    width: 32px;
    height: 32px;
}*/